<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {css href="/static/materialize/css/materialize.min.css" /}
    {css href="/static/materialize/css/font.css" /}
    <!-- {js href="/static/materialize/js/materialize.min.js" /} -->
</head>

<body>
    <div class="container">
        <ul class="collection with-header">
        <li class="collection-header"><h4>蔬菜</h4></li>
        <li class="collection-item"><div>白菜<button class="btn waves-effect waves-light" type="submit" name="action">提交
    <i class="material-icons right">send</i>
  </button></div></li>
        <li class="collection-item"><div>青菜<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>萝卜<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>土豆<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>
    </div>
    <script>
    </script>
</body>

</html>